src/flows/Listing_Unit_Setup_Logic-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>TEST_Set_Unit_ID</name>
        <label>TEST Set Unit ID</label>
        <locationX>73</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>UnitID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0bW0000003H3oA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Unit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Listing_Unit_Exist</name>
        <label>Does Listing Unit Exist?</label>
        <locationX>407</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Listing_Unit_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingListingUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Listing_Unit</targetReference>
            </connector>
            <label>Yes - Listing Unit Exists</label>
        </rules>
        <rules>
            <name>No_Listing_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingListingUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Listing_Unit</targetReference>
            </connector>
            <label>No Listing Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Listing_Active</name>
        <label>Is Listing Active (Not complete)?</label>
        <locationX>417</locationX>
        <locationY>95</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Listing.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Listing_Unit</targetReference>
            </connector>
            <label>Yes - Active</label>
        </rules>
    </decisions>
    <description>This flow is passed a Unit ID, evaluates whether or not it is associated with an Active (non closed) Listing, and will either create a new Listing Unit join object, or update an existing Listing Unit join object if none are found.</description>
    <interviewLabel>Listing Unit Setup Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing Unit Setup Logic</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Listing_Unit</name>
        <label>Create new Listing Unit</label>
        <locationX>151</locationX>
        <locationY>329</locationY>
        <assignRecordIdToReference>NewListingUnitID</assignRecordIdToReference>
        <inputAssignments>
            <field>AMI_chart_type__c</field>
            <value>
                <elementReference>Unit.AMI_chart_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AMI_chart_year__c</field>
            <value>
                <elementReference>Unit.AMI_chart_year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Listing__c</field>
            <value>
                <elementReference>Listing.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Type__c</field>
            <value>
                <elementReference>Unit.Priority_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_multiple__c</field>
            <value>
                <elementReference>Unit.Rent_Multiple__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_percent_of_income__c</field>
            <value>
                <elementReference>Unit.Rent_percent_of_income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Type__c</field>
            <value>
                <elementReference>Unit.Reserved_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isReservedCommunity__c</field>
            <value>
                <elementReference>Unit.isReservedCommunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Listing_Unit__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Listing</name>
        <label>Get Listing</label>
        <locationX>237</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Listing_Active</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit.Listing__c</elementReference>
            </value>
        </filters>
        <object>Listing__c</object>
        <outputReference>Listing</outputReference>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Listing_Unit</name>
        <label>Get Listing Unit</label>
        <locationX>418</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Listing_Unit_Exist</targetReference>
        </connector>
        <filters>
            <field>Listing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Listing.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Unit.Id</elementReference>
            </value>
        </filters>
        <object>Listing_Unit__c</object>
        <outputReference>ExistingListingUnit</outputReference>
        <queriedFields>AMI_chart_type__c</queriedFields>
        <queriedFields>AMI_chart_year__c</queriedFields>
        <queriedFields>Priority_Type__c</queriedFields>
        <queriedFields>Rent_multiple__c</queriedFields>
        <queriedFields>Rent_percent_of_income__c</queriedFields>
        <queriedFields>isReservedCommunity__c</queriedFields>
        <queriedFields>Reserved_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit</name>
        <label>Get Unit</label>
        <locationX>79</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Listing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitID</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>Unit</outputReference>
        <queriedFields>AMI_chart_type__c</queriedFields>
        <queriedFields>AMI_chart_year__c</queriedFields>
        <queriedFields>Listing__c</queriedFields>
        <queriedFields>Rent_Multiple__c</queriedFields>
        <queriedFields>Rent_percent_of_income__c</queriedFields>
        <queriedFields>Priority_Type__c</queriedFields>
        <queriedFields>isReservedCommunity__c</queriedFields>
        <queriedFields>Reserved_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Listing_Unit</name>
        <label>Update Existing Listing Unit</label>
        <locationX>794</locationX>
        <locationY>324</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingListingUnit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AMI_chart_type__c</field>
            <value>
                <elementReference>Unit.AMI_chart_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AMI_chart_year__c</field>
            <value>
                <elementReference>Unit.AMI_chart_year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_Type__c</field>
            <value>
                <elementReference>Unit.Priority_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_multiple__c</field>
            <value>
                <elementReference>Unit.Rent_Multiple__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rent_percent_of_income__c</field>
            <value>
                <elementReference>Unit.Rent_percent_of_income__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_Type__c</field>
            <value>
                <elementReference>Unit.Reserved_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isReservedCommunity__c</field>
            <value>
                <elementReference>Unit.isReservedCommunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Listing_Unit__c</object>
    </recordUpdates>
    <startElementReference>Get_Unit</startElementReference>
    <variables>
        <name>ExistingListingUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Listing_Unit__c</objectType>
    </variables>
    <variables>
        <name>Listing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Listing__c</objectType>
    </variables>
    <variables>
        <name>NewListingUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Listing_Unit__c</objectType>
    </variables>
    <variables>
        <name>NewListingUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Unit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>UnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
